<!-- album-edit.component.html -->

<h2>Modifier un album</h2>
<div class="container">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="Titre">Nom de l'album :</label>
    <input type="text" id="Titre" formControlName="Titre" /><br />

    <label for="SousTitre">Sous-titre de l'album:</label>
    <input type="text" id="SousTitre" formControlName="SousTitre" /><br />

    <div formGroupName="type">
      <label for="NbrPages">Nombre de pages:</label>
      <input type="text" id="NbrPages" formControlName="NbrPages" /><br />

      <label for="papier">Papier :</label>
      <input type="text" id="papier" formControlName="papier" /><br />

      <label for="grammage">Grammage :</label>
      <input type="text" id="grammage" formControlName="grammage" /><br />
    </div>

    <div class="form-group">
      <button type="submit" (click)="onSubmit()">
        Enregistrer les modifications
      </button>
      <button type="button" class="btn btn-secondary" (click)="resetForm()">
        Annuler les modifications
      </button>
    </div>
  </form>

  <div *ngIf="submitted">
    <div *ngIf="profileForm.get('Titre')!.hasError('required')">
      Titre requis
    </div>
    <div *ngIf="profileForm.get('Titre')!.hasError('minlength')">
      Le titre doit avoir au moins 4 caractères.
    </div>
    <div *ngIf="profileForm.get('type.NbrPages')?.hasError('min')">
      Le nombre de pages doit être supérieur à 2.
    </div>
    <div *ngIf="profileForm.get('type.grammage')?.hasError('min')">
      Le grammage ne peut pas être inférieur à 50g.
    </div>
    <div *ngIf="profileForm.get('type.NbrPages')?.hasError('max')">
      Vous ne pouvez pas avoir plus de 200 pages.
    </div>
    <div *ngIf="profileForm.get('type.grammage')?.hasError('max')">
      Le grammage ne peut pas être supérieur à 150g.
    </div>
    <h3>Votre nouvel album a été enregistré</h3>
    <p>Titre : {{ profileForm.value.Titre }}</p>
    <p>Sous-titre: {{ profileForm.value.SousTitre }}</p>
    <p>Type d'album :</p>
    <ul>
      <li>Nombre de pages : {{ profileForm.value.type.NbrPages }}</li>
      <li>Papier : {{ profileForm.value.type.papier }}</li>
      <li>Grammage : {{ profileForm.value.type.grammage }}g</li>
    </ul>
    <button type="submit" (click)="Validation()">Valider définitivement</button>
  </div>
  <div *ngIf="!submitted" appHighlight>En attente de validation...</div>
  <div *ngIf="submitted2"><a href="">Retour à l'accueil</a></div>
</div>
